# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
.env
*.egg-info/

# Database
*.db
*.sqlite3

# Uploads
backend/uploads/

# Node
node_modules/
.next/
out/
dist/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Misc
{backend,frontend}
